<div id="succes_message" class="succes_message">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Sensor actualizado con éxito
  </div>
</div>
<div class="mb-1 bg-light rounded-3 bg-securosbar text-light">
  <div class="container-fluid py-5">
    <h1
      class="display-5 fw-bold d-flex justify-content-between align-items-center"
    >
      Sensores
    </h1>
  </div>
</div>
    <input type="text" class="sensor-search mt-2 w-25" placeholder="Filtrar por ID.." value=""/>
<div class="row mb-4 rounded-3" id="sensors_container">
  <table class="table table-striped text-light">
    <thead>
      <tr>
        {{!-- <th scope="col">#</th> --}}
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Prioridad</th>
      </tr>
    </thead>
    <tbody id="tbody">
      {{#each array_sensors}}
      {{!-- <h1 class="text-light">{{array_priority.0.name}}</h1> --}}
      
      <tr class="table table-striped text-light ">
        {{!-- <th class="pt-3" scope="row">{{@index}}</th> --}}
        <td class="pt-3">{{id}}</td>
        <td class="pt-3">{{name}}</td>
        
        <td class="w-25">
          <select required class="sensor-select form-select mb-1 "aria-label="Default select example" name="server_on">
            <option selected > Seleccione una prioridad</option>
            <option{{#ifCond tp_name "==" "Alta" }} selected {{/ifCond}} class="sensor-option" id={{id}} value="Alta">Alta</option>
            <option{{#ifCond tp_name "==" "Media" }} selected {{/ifCond}} class="sensor-option" id={{id}} value="Media">Media</option>
            <option{{#ifCond tp_name "==" "Baja" }} selected {{/ifCond}} class="sensor-option" id={{id}} value="Baja">Baja</option>
          </select>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {{#each array_paginator_pages}}
      <li class="page-item {{#ifCond page "==" this}} disabled {{/ifCond}}">
        <a class="page-link" href="/sensors?page={{this}}" tabindex="-1">{{this}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>

</div>

<script>
  
function handleEventSearch(){

  let sensors_select = document.querySelectorAll(".sensor-select");

    sensors_select.forEach(item => {
      item.addEventListener('change', event => {
        let priority_id = item.options[item.selectedIndex].id;                         // value of the selected element
        let priority = item.options[item.selectedIndex].value;
        updatePriority(priority_id, priority);
      })
    })
}

handleEventSearch();

    let sensors_search = document.querySelector(".sensor-search");

    sensors_search.addEventListener('input', event => {
        let word_search = event.target.value;  
        /*console.log(word_search);*/
        sensorsSearch(word_search);
      })
  
</script>